---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

interface Props {
  tag: CollectionEntry<"tags">;
  note: CollectionEntry<"notes">;
}

export async function getStaticPaths() {
  const tags = await getCollection("tags");
  const notes = await getCollection("notes");

  return notes.map((note) => {
    const tag = tags.find((tag) => tag.data.title === note.data.tag);

    return {
      params: { slug: `${tag?.slug}/${note.slug}` },
      props: { tag, note },
    };
  });
}

const { tag, note } = Astro.props;
const { Content } = await note.render();
---

<Layout title={note.data.title}>
  <h1>{note.data.title}</h1>
  <p class="italic">#{tag.data.title}</p>
  <Content />
</Layout>

<style></style>
