---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

interface Props {
  tags: CollectionEntry<"tags">[];
  note: CollectionEntry<"notes">;
}

export async function getStaticPaths() {
  const tagsCollection = await getCollection("tags");
  const notes = await getCollection("notes");

  return notes
    .map((note) => {
      const tags = tagsCollection.filter((tag) =>
        note.data.tags.includes(tag.data.title),
      );

      return tags.map((tag) => ({
        params: { slug: `${tag.slug}/${note.slug}` },
        props: { tags, note },
      }));
    })
    .reduce((prev, curr) => [...prev, ...curr], []);
}

const { tags, note } = Astro.props;
const { Content } = await note.render();
const title = note.data.title;
---

<Layout title={title}>
  <h1>{title}</h1>
  <p>
    ðŸ·ï¸ {
      tags.map((tag, i, arr) => (
        <>
          <a href={`/notes/${tag.slug}`}>{tag.data.title}</a>
          {i + 1 !== arr.length ? <span>, </span> : null}
        </>
      ))
    }
  </p>
  <Content />
</Layout>

<style></style>
