---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

interface Props {
  tag: CollectionEntry<"tags">;
  notes: CollectionEntry<"notes">[];
}

export async function getStaticPaths() {
  const tags = await getCollection("tags");
  const notes = await getCollection("notes");

  return tags.map((tag) => {
    const notesBelongToTag = notes.filter((note: CollectionEntry<"notes">) =>
      note.data.tags.includes(tag.data.title),
    );

    return {
      params: { tag: tag.slug },
      props: { tag, notes: notesBelongToTag },
    };
  });
}

const { tag, notes } = Astro.props;
const title = `🏷️ ${tag.data.title}`;
---

<Layout title={title}>
  <h1>{title}</h1>
  <section class="space-y-4">
    {
      notes.map((note) => (
        <article>
          <a href={`/notes/${tag.slug}/${note.slug}`}>{note.data.title}</a>
        </article>
      ))
    }
  </section>
</Layout>

<style></style>
