---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const projects = await getCollection("projects");
const projectStatus = Array.from(
  new Set(projects.map((project) => project.data.status)),
);
const title = "Projects";
---

<Layout title={title}>
  <h1>{title}</h1>
  <h2>Status</h2>
  <ul>
    {projectStatus.map((status) => <li>{status}</li>)}
  </ul>
  <hr />
  <section class="space-y-4">
    {
      projects.map((project) => (
        <article>
          <a href={`/projects/${project.slug}`}>{project.data.title}</a>
        </article>
      ))
    }
  </section>
</Layout>

<style></style>
