---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import {
  ProjectStatus,
  projectStatusEmoji,
  projectStatusList,
} from "./projects.i";

const projects = await getCollection("projects");
const title = "🛠️ Projects";
---

<Layout title={title}>
  <h1>✨ Status</h1>
  <section>
    {
      projectStatusList.map((status: ProjectStatus) => (
        <p>
          <span class="mr-2">{projectStatusEmoji[status]}</span>
          {status}
        </p>
      ))
    }
  </section>
  <hr />
  <section class="space-y-4">
    {
      projects.map((project) => (
        <article>
          <span class="mr-2">
            {projectStatusEmoji[project.data.status as ProjectStatus]}
          </span>
          <a href={`/projects/${project.slug}`}>{project.data.title}</a>
        </article>
      ))
    }
  </section>
</Layout>

<style></style>
